<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cdPlayer" class="soundsystem.mediaplayer.CDPlayer" c:_0-ref="blankDisc"/>

	<bean id="blankDisc" class="soundsystem.compactdisc.BlankDisc">
		<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/>
		<constructor-arg value="The Beatles"/>
		<constructor-arg>
			<set>
				<value>track1</value>
				<value>track2</value>
				<value>track3</value>
				<value>track4</value>
			</set>
		</constructor-arg>
	</bean>
</beans>
