<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <!--jquery-->
    <script th:src="@{/resources/static/base/jquery.min.js}" type="text/javascript"></script>
    <!--表单提交-->
    <script th:src="@{/resources/static/base/jquery.serialize-object.min.js}"></script>
    <!--ajax-->
    <script th:src="@{/resources/static/base/axios.min.js}"></script>
    <!--semantic ui-->
    <link th:href="@{/resources/static/base/font.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/resources/static/semantic/semantic.min.js}" type="text/javascript"></script>
    <link th:href="@{/resources/static/semantic/semantic.min.css}" type="text/css" rel="stylesheet"/>
    <!--vue-->
    <script th:src="@{/resources/static/vue/vue.js}"></script>
    <!--日期格式化-->
    <script th:src="@{/resources/static/moment/moment.js}"></script>
    <script th:inline="javascript"> var contextPath = /*[[@{/}]]*/ ''; </script>
    <!--本页面的js-->
    <script th:src="@{/resources/static/views/register.js}"></script>
</head>

<body>
<div class="ui text container">
    <!--/*@thymesVar id="spitter" type="spittr.pojo.Spitter"*/-->
    <form class="ui form" style="padding-top: 5%;" th:action="@{/spitter/register}" th:object="${spitter}"
          method="post">
        <div th:class="${#fields.hasErrors('firstName')} ? 'field error':'field'">
            <label>姓氏</label>
            <input type="text" th:field="*{firstName}"
                   placeholder="姓氏">
        </div>
        <div th:class="${#fields.hasErrors('lastName')} ? 'field error':'field'">
            <label>名称</label>
            <input type="text" th:field="*{lastName}"
                   placeholder="名称">
        </div>
        <div th:class="${#fields.hasErrors('userName')} ? 'field error':'field'">
            <label>用户名</label>
            <input type="text" th:field="*{userName}"
                   placeholder="用户名">
        </div>
        <div th:class="${#fields.hasErrors('passWord')} ? 'field error':'field'">
            <label>密码</label>
            <input type="password" th:field="*{passWord}"
                   placeholder="密码">
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>我同意本条款和条件</label>
            </div>
        </div>
        <div class="ui primary button" id="submit">提交</div>
        <div class="ui error message" th:if="${#fields.hasErrors()}"
             th:style="${#fields.hasErrors() == true ? 'display:block' : ''}">
            <ul class="list">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
    </form>

    <a th:href="@{/}">返回首页</a>
</div>

</body>
</html>