<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>当前列表</title>

    <!--jquery-->
    <script th:src="@{/resources/static/base/jquery.min.js}" type="text/javascript"></script>

    <!--semantic ui-->
    <link th:href="@{/resources/static/base/font.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/resources/static/semantic/semantic.min.js}" type="text/javascript"></script>
    <link th:href="@{/resources/static/semantic/semantic.min.css}" type="text/css" rel="stylesheet"/>

    <style>
        .ui.ordered.list .list > .item:before, .ui.ordered.list > .item:before, ol.ui.list li:before {
            margin-left: -1.65rem;
        }
    </style>

</head>
<body>
<div class="ui text container">
    <div class="ui grid" style="padding-top: 5%">
        <div class="row">
            <ol class="ui list" id="spittlesList">
                <!--/*@thymesVar id="spittleList" type="java.util.List<spittr.pojo.Spittle>"*/-->
                <li class="item" th:value="${status.index + 1}" th:each="spittle,status : ${spittleList}">
                    <div class="content">
                        <a th:text="${spittle.message}" th:href="@{'/spittles/show/' + ${spittle.id}} ">message</a>
                        <div class="description" th:text="${#dates.format(spittle.time,'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <a th:href="@{/}">返回首页</a>
</div>
</body>
</html>