<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../../resources/semantic/semantic.min.css"/>
</head>
<body>
<div class="ui container" style="padding-top: 20px;">
    <h3 class="ui dividing header">登录</h3>
    <form class="ui form" id="app">
        <div class="field">
            <label>用户名</label>
            <input type="text" name="username" placeholder="用户名" v-model="username">
        </div>
        <div class="field">
            <label>密码</label>
            <input type="password" name="password" placeholder="密码" v-model="password" @keyup.enter="submit">
        </div>
        <button class="ui primary button" type="button" @click="submit">Submit</button>
        <div class="ui error message"></div>
    </form>
</div>
</body>
<script src="../../resources/vue/vue.js"></script>
<script src="../../resources/jquery/jquery.min.js"></script>
<script src="../../resources/semantic/semantic.min.js"></script>
<script src="../../resources/javascript/login.js"></script>
</html>
