<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../resources/static/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="../resources/static/datatable/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="../resources/static/datatable/css/dataTables.semanticui.min.css"/>
    <script type="text/javascript" src="../resources/static/base/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/static/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="../resources/static/datatable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../resources/static/datatable/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="../resources/view/spitter.js"></script>
</head>
<body>
<table id="example" class="ui red table" style="width:100%">
    <thead>
    <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>密码</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>密码</th>
    </tr>
    </tfoot>
</table>
</body>
</html>